@model List<Product>

@{
    ViewData["Title"] = "Cart Page";
}
<div class="row">
    @foreach (var product in @Model)
    {
        <div class="col-3 card shadow">
            <div class="card-body">
                <a style="color:black" href="/product/index/@product.Id">
                    <img class="card-img-top" src="@product.FilePath" />
                    <h5>@product.Name</h5>    
                </a>
                <h5>@product.Cost Euro</h5>
                <a class="btn-dark" href="#" role="button">Add to Card</a>
            </div>
        </div>
    } 
</div>