<div class="col-md-2">
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link" asp-area="Admin" asp-controller="Admin" asp-action="Orders">Orders</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Admin" asp-controller="Admin" asp-action="Users">Users</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Admin" asp-controller="Admin" asp-action="Roles">Roles</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Admin" asp-controller="Admin" asp-action="Products">Products</a>
        </li>
    </ul>
</div> 