<div class="container-sm col-md-6 d-flex flex-column align-items-center">
    <form method="post">
        <h3 class="mb-2 text-center">Einloggen</h3>

        <div class="form-group mb-2">
            <input type="text" class="form-control" id="UserName" name="UserName" placeholder="Login" required>
        </div>

        <div class="form-group mb-2">
            <input type="password" class="form-control" id="Password" name="Password" placeholder="Password" required>
        </div>
        <div class="form-group mb-2">
            <input type="password" class="form-control" id="PasswordRepeat" name="PasswordRepeat" placeholder="PasswordRepeat" required>
        </div>

        <div class="mb-2">
            <button type="submit" class="btn btn-primary mt-3" asp-controller="Authentication" asp-action="Registration">Registration</button>
        </div>
    </form>
</div>