<div class="col-md-2">
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link" href="/Admin/Orders">Orders</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Admin/Users">Users</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Admin/Rolles">Rolles</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Admin/Products">Products</a>
        </li>
    </ul>
</div> 