@model Product

@{
    ViewData["Title"] = "Product Page";
}
<div class="row"> 
    <div class="col-6">
        <div class="card-body">
            <a style="color:black" href="/product/index/@Model.Id">
                <img class="card-img-top" src="@Model.FilePath" />
                <h5>@Model.Name</h5>
            </a>
            <h5>@Model.Cost Euro</h5>
            <h5>@Model.Description</h5>
            <a class="btn btn-dark" href="/cart/add?@Model.Id" role="button">Add to Card</a>
            <a class="btn btn-dark" href="/home/index"  role="button">
                Back to mainpage
            </a>
        </div>
    </div>
</div>
