@model List<Product>
@{
    ViewData["Title"] = "Products list";
}

<div class="container">
    <!-- Заголовок -->
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>@ViewData["Title"]</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link" href="/Admin/Orders">Orders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Admin/Users">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Admin/Rolles">Rolles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Admin/Products">Products</a>
                </li>
            </ul>
        </div> 
        <div class="col-10">
            <a href="#" class="btn btn-link">Create a new Product</a>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>№</th>
                        <th>Название</th>
                        <th>Цена</th>
                        <th>Действия</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in Model)
                    {
                        <tr>
                            <td>@product.Id</td>
                            <td>@product.Name</td>
                            <td>@product.Cost</td>
                            <td>
                                <a href="#" class="btn btn-link">Редактировать</a>
                                <a href="#" class="btn btn-link text-danger">Удалить</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
