@{
    ViewData["Title"] = "Rolles list";
}
<div class="container-sm col-md-6 d-flex flex-column align-items-center">
    <h3>@ViewData["Title"]</h3>
</div>

@await Html.PartialAsync("AdminLeftPanel");