@{
    ViewData["Title"] = "Order Delivery Page";
}

<div class="d-flex justify-content-center text-center align-items-center" style="min-height: 50vh;">
    <div>
        <h3>@ViewData["Title"]</h3>
        <a href="/home/index/">Wollen Sie etwas noch kaufen?</a>
        <br /><br />
        <h5>Danke für ihr Einkauf!</h5>
    </div>
</div>

