@model List<Product>
@{
    ViewData["Title"] = "Products list";
}

<div class="container">
    <!-- Заголовок -->
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>@ViewData["Title"]</h3>
        </div>
    </div>
    <div class="row">
        @await Html.PartialAsync("AdminLeftPanel")
        <div class="col-10">
            <a href="/Admin/AddProduct" class="btn btn-link">Create a new Product</a>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>№</th>
                        <th>Название</th>
                        <th>Цена</th>
                        <th>Действия</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in Model)
                    {
                        <tr>
                            <td>@product.Id</td>
                            <td>@product.Name</td>
                            <td>@product.Cost</td>
                            <td>
                                    <a href="/admin/EditProduct?productId=@product.Id" class="btn btn-link">Редактировать</a>
                                <a href="/admin/RemoveProduct?productId=@product.Id" class="btn btn-link text-danger">Удалить</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
